
@font-face {
  font-family: "rioGrande";
  /* Gewünschter Name */
  src: url("./assets/fonts/rio_grande_striped.ttf");
}

body{
  background-image: radial-gradient(circle, rgba(245, 182, 95, 0.8), rgba(225, 147, 68, 0.8), rgba(205, 112, 44, 0.8), rgba(183, 76, 25, 0.8), rgba(160, 34, 10, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: radial-gradient(circle, #f5b65f, #e19344, #cd702c, #b74c19, #a0220a); */
  background-size: cover;
  overflow-y: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  
}

h1{
  font-size: 50px;
  color: #A0220A;
  font-family: "rioGrande";
  margin-top: 0;
  margin-bottom: 12px;
}


.loco-content{
  /* border: solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}


canvas{
  background-color: black;
}

#clouds{
  border: solid red;
  z-index: 10;
}

 /************************* RESPONSIVNESS *************************/

 @media only screen and (max-width: 720px){
  canvas {
    width: 100%
  }
 }
 
 @media only screen and (max-height: 480px){
  canvas {
    height: 100vh
  }
 }